<%- include('partials/header') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<bugs.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/bug/<%= bugs[i]._id%>">
              <span class="m-2 fs-2"><%= bugs[i].name %></span>
              <img class="m-2 img-fluid w-25" src="<%= bugs[i].image%>">
              <span class="m-2 "><%= bugs[i].description %></span>
              <span class="m-2 "><%= bugs[i].priority %></span>
              <span class="m-2 "><%= bugs[i].user %></span>
              <span class="m-2 "><%= bugs[i].openedDate %></span>
            </a>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>